@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: 'Poppins', sans-serif;
	background: black;
	color: white;
	// color: rgba(255, 255, 255, 0.7);
}

.app {
	min-height: 100vh;
	position: relative;
	overflow-x: hidden;

	&.open::after {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 5;
	}
}

.add-transaction-wrapper {
	background: black;
	position: absolute;
	right: -400px;
	top: 0;
	bottom: 0;
	width: 400px;
	transition: right 0.5s ease;
	z-index: 10;
	padding: 1em;

	&.open {
		right: 0;
	}

	.header {
		margin-bottom: 2em;
		h2 {
			text-align: center;
			margin: 0 auto;
		}
		.close-btn {
			font-size: 2em;
			color: white !important;
			cursor: pointer;
		}
	}

	.body {
		background: rgb(29, 29, 29);
		padding: 2em;
		border-radius: 10px;

		form {
			display: flex;
			flex-direction: column;
			gap: 1em;

			.input-group {
				display: flex;
				flex-direction: column;
				gap: 0.3em;

				label {
					font-size: 0.9em;
					text-transform: uppercase;
				}

				input,
				select {
					background-color: black;
					border: 1px solid black;
					color: white;
					padding: 0.6em 0.8em;
					font-size: 1em;
					border-radius: 5px;
				}

				select {
					padding: 0.6em 0;
				}
			}

			button {
				background-color: white;
				color: black;
				border: 1px solid white;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 0.5em;
				text-transform: uppercase;
				font-size: 1em;
				font-weight: 500;
				padding: 0.4em;
				border-radius: 5px;
				font-family: 'Poppins', sans-serif;
				cursor: pointer;
			}
		}
	}
}

.header {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	padding: 2em 0 1em;

	display: flex;
	align-items: center;
	justify-content: space-between;

	.add-transaction-btn {
		cursor: pointer;
		background-color: white;
		border: 1px solid white;
		padding: 0.5em 1.3em;
		border-radius: 5px;
		font-weight: 500;
		font-size: 0.9em;
		font-family: 'Poppins', sans-serif;
		transition: all 0.4s ease;

		&:hover {
			background: black;
			color: white;
		}
	}
}

.main-wrapper {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	padding-top: 1em;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3em;

	.stats-wrapper {
		padding: 2em;
		border-radius: 10px;
		width: 100%;
		background: rgb(29, 29, 29);

		display: flex;
		justify-content: space-between;

		.stat-section {
			padding: 0.5em 1.5em;
			width: 100%;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			&:not(:last-child) {
				border-right: 2px solid black;
			}

			h3 {
				font-weight: 300;
				font-size: 1em;
				text-transform: uppercase;
			}

			span {
				font-weight: 600;
				font-size: 1.3em;

				&.income {
					color: rgb(9, 170, 9);
				}

				&.expense {
					color: rgb(218, 1, 1);
				}

				&.balance {
					color: steelblue;
				}
			}
		}
	}

	.history-wrapper {
		background: rgb(29, 29, 29);
		padding: 2em;
		border-radius: 10px;
		width: 100%;

		display: flex;
		flex-direction: column;
		gap: 1em;

		.history-inner {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			.history-item-wrapper {
				padding: 1em 0.8em;
				background-color: black;
				font-size: 0.8em;

				display: flex;
				justify-content: space-between;
				align-items: center;

				&.positive {
					border-right: 4px solid rgb(9, 170, 9);
				}

				&.negative {
					border-right: 4px solid rgb(218, 1, 1);
				}
			}
		}
	}
}
